#
# Sample DevStack local.conf.
#
# This sample file is intented to be used for using OVN as Octavia's Provider
# driver.
#

[[local|localrc]]
DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
SERVICE_TOKEN=password
ADMIN_PASSWORD=password

# Enable devstack spawn logging
LOGFILE=$DEST/logs/stack.sh.log

enable_plugin networking-ovn https://opendev.org/openstack/networking-ovn
enable_service ovn-northd
enable_service ovn-controller
enable_service networking-ovn-metadata-agent
enable_service q-svc

# Disable Neutron agents not used with OVN
disable_service q-agt
disable_service q-l3
disable_service q-dhcp
disable_service q-meta

OCTAVIA_NODE="api"
DISABLE_AMP_IMAGE_BUILD=True
enable_plugin octavia https://opendev.org/openstack/octavia
enable_service octavia
enable_service o-api
enable_service o-hk
enable_service o-da
disable_service o-cw
disable_service o-hm

[[post-config|$OCTAVIA_CONF]]
[api_settings]
enabled_provider_drivers = ovn:'Octavia OVN driver'
